.a{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #1E2528;
    color: white;
}
.a-left{
    flex:1;
    text-align: center;
    justify-content: center;
    display: flex;
}
.a-right{
    flex:1;
    
    
}
.a-right-title{
    color:#0EF6BE;
}
.a-img{
    border-radius: 15px;
    object-fit: cover;
    height: 55vh;
    width: 45vh;;
}
.a-right-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    width: 42vw;
}
.a-right-text{
    font-weight: bolder;
}